# Instructions
Based on a fact-check of the below claim, the {{ property.name }} of the {{ subject }} was found to be _{{ rating }}_. Several individual justifications are provided for that assessment. **Your goal is to merge the given justifications into one super-concise justification.**

# Rules
* Just state the naked arguments that are relevant for the assessment of the {{ subject }}'s {{ property.name }}. See the {{ property.name }} definition for details.
* If the assessment contains uncertainty, provide the reasons why.
* Keep it brief, write between 10 and 100 words. The shorter, the better. Omit non-essential and redundant information.
* Write English, even if the corresponding claim has a different language.
* Do not repeat the claim or the assessment.
* Enclose your merged justification in single backticks like `this`.

# Claim
{{ claim }}

# {{ property.name }} Definition
{{ property.definition }}
It has the following categories:
* {{ property.negative_category }}: {{ property.negative_definition }}
* {{ property.positive_category }}: {{ property.positive_definition }}

# Justifications
{{ justifications }}

# Your Response
