numpy
pydantic~=2.12.0a1
ezmm>=0.5.1
scrapemm>=0.6.2
openai~=2.11.0
anthropic~=0.75.0
PyYAML~=6.0.2
asyncpg~=0.31.0
aiohttp~=3.11.18
requests~=2.32.3
pillow~=11.3.0
beautifulsoup4~=4.13.4
markdownify~=1.1.0
playwright~=1.58.0
tqdm~=4.67.1
python-dateutil~=2.9.0.post0
langcodes~=3.5.0
uvicorn~=0.34.2
fastapi~=0.119.1
starlette>=0.47.2
python-multipart>=0.0.9
pytest~=9.0.2
extruct~=0.18.0
flatten-json~=0.1.14
jinja2
json_repair~=0.44.1
langdetect~=1.0.9
ijson~=3.4.0
json_repair~=0.44.1
pillow_avif_plugin~=1.5.2
opencv-python
google-genai[aiohttp]~=1.55.0
tweepy
async_lru
oauthlib
pytest-asyncio
matplotlib
psutil
perplexityai
tldextract
wordcloud
sankeyflow
language_data
brotli
scikit-learn
tabulate
playwright_stealth
curl_cffi~=0.14.0b5  # yt-dlp doesn't support 0.15+ yet
pip-system-certs  # For better SSL certificate handling
backports.zstd  # For better content parsing with Firecrawl